@model InteractiveConsultant.Models.Interview
<div class="container">
    @if (InteractiveConsultant.Models.StateInterview._voicerOn)
    {
        <script type="text/javascript">
        var synth = window.speechSynthesis;
        var utterThis = new SpeechSynthesisUtterance("@Model.Result.TextResult");
        synth.speak(utterThis);
        </script>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 body-content">
            <section id="rules-text">
                <div class="rules-header">
                    <h2 class="rules-header"> ИНТЕРАКТИВНЫЙ ОНЛАЙН-КОНСУЛЬТАНТ ПО СОЦИАЛЬНОМУ ОБСЛУЖИВАНИЮ НАСЕЛЕНИЯ</h2>
                </div>
                <div class="rules-of-greeting">
                    <h3 class="rules-of-greeting">Уважаемый пользователь!</h3>
                </div>
                <div class="rules">
                    <p class="rules">По результату проведенного опроса и выбранных Вами ответов:</p>
                    <p class="rules">@Model.Result.TextResult</p>
                    @if(InteractiveConsultant.Models.StateInterview._agreeToTheLocation)
                    {
                        <p class="rules">Вы можете обратится в учреждения социального обслуживания: </p>
                        <p class="rules">Центр социального обслуживания в вашем районе:" @Model.Result.CentrName</p>
                        <p class="rules">Расположенный:@Model.Result.CentrAddress</p>
                        foreach(var o in Model.Result.OrganisationsInfo)
                        {
                            <p class="rules"> - @o.Key</p>
                            <p class="rules"> находится: - @o.Value</p>
                        }
                    }
                </div>
            </section>
        </div>
    </div>
    @using (Html.BeginForm("ErrorCompliteUser", "Home"))
            {
        <div class="row get_answer">
            <div class="col-md-6 col-sm-6">
                <button name="action" class="btn btn-default" value="start">Повторить</button>
            </div>
            <div class="col-md-6 col-sm-6">
                <button name="action" class="btn btn-default" value="mintrud">Перейти на сайт Минтруда</button>
            </div>
        </div>
    }
</div>