@model InteractiveConsultant.Models.Result
@{
    List<InteractiveConsultant.Models.ViewOrganisation> writed = new List<InteractiveConsultant.Models.ViewOrganisation>();
}
<div class="container result-page">
    <div class="row">
        <div class="col-md-12">
            <h3>Уважаемый пользователь!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>По результату проведенного опроса и выбранных Вами ответов:</p>
        </div>
    </div>
    @if (Model.Conditions.Count == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <p>Произошел системный сбой - коенсультант затрудняется дать правильный ответ. (Обратитесь к разработчику http://skrypin.ar@bashkortostan.ru):</p>
            </div>
        </div>
    }
    else if (Model.Conditions.Count > 0)
    {
        foreach (var item in Model.Conditions)
        {
            <div class="row">
                <div class="col-md-12">
                    <p>Рекомендовано: @(item?.SocialForm?.TextForView == null ? "" : item?.SocialForm?.TextForView) </p>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                <p>Предлагаем Вам обратится с заявлением о предоставлении социальных услуг в организацию, уполномоченную на признание граждан, нуждающимися в социальных услугах и оформление ИППСУ(индивидуальная программа предоставления социальных услуг):</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Организация уполномоченная на признание граждан нуждающимися в социальном обслуживание @(Model?.Centr?.NameOrganisation == null ? "" : Model?.Centr?.NameOrganisation), адрес: @(Model?.Centr?.PropertysOrganisation == null ? "" : Model?.Centr?.PropertysOrganisation) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 line-bootom">
                @if (Model.Conditions.FindAll(o => o.OrganizationsPrz.Count > 0).Count > 0)
                {
                    <h3 class="prz">По району проживания, Вы можете обратится в ближайшее отделение:</h3>
                }
                @foreach (var item in Model.Conditions)
                {
                    if (item.OrganizationsPrz.Count > 0)
                    {
                        foreach (var xitem in item.OrganizationsPrz)
                        {
                            if (!writed.Select(s => s.IDOrganisation).Contains(xitem.IDOrganisation))
                            {
                                writed.Add(xitem);
                                <p>  - @xitem.NameOrganisation, адрес: @xitem.PropertysOrganisation; </p>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 line-bootom">
                @foreach (var item in Model.Conditions)
                {
                    if (item.SupportOrganizations.Count > 0)
                    {
                        string countSupport = "";
                        if (item.SupportOrganizations.Count > 1)
                        {
                            countSupport = "поставщикам";
                        }
                        else
                        {
                            countSupport = "поставщику";
                        }
                        <div class="line-bootom">
                        <h3 class="prz">Для @(item.SocialForm.IDSocialForm != 5 ? item.SocialForm.TextForView.Replace("Предоставление", "получения") + ". Вы можете обратится к " + countSupport + " социальных услуг:" : item.SocialForm.TextForView + "в организациях:")</h3>
                        @foreach (var xitem in item.SupportOrganizations)
                        {
                            <p>  - @xitem.NameOrganisation, адрес: @xitem.PropertysOrganisation; </p>
                        }
                            </div>
                    }
                }
            </div>
        </div>
    }

</div>
