@model InteractiveConsultant.Models.Result
@{
    List<InteractiveConsultant.Models.ViewOrganisation> writed = new List<InteractiveConsultant.Models.ViewOrganisation>();
}
<div class="container result-page">
    <div class="row">
        <div class="col-md-12">
            <h3>Уважаемый пользователь!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>По результату проведенного опроса и выбранных Вами ответов:</p>
        </div>
    </div>
    @if (Model.Conditions.Count == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <p>Произошел системный сбой - коенсультант затрудняется дать правильный ответ. (Обратитесь к разработчику http://skrypin.ar@bashkortostan.ru):</p>
            </div>
        </div>
    }
    else if (Model.Conditions.Count == 1 && Model.Conditions.First().SocialForm.IDSocialForm == 6)
    {
        <div class="row">
            <div class="col-md-12">
                <p>@Model.Conditions.First().SocialForm.NameSocialForm</p>
                <p>@Model.Conditions.First().SocialForm.TextForView: </p><a href="https://asp2.bashkortostan.ru/aspnet/">https://asp2.bashkortostan.ru/aspnet/</a>
            </div>
        </div>
    }
    else if (Model.Conditions.Count > 0)
    {
        foreach (var item in Model.Conditions)
        {
            <div class="row">
                <div class="col-md-12">
                    <p>Рекомендовано: @(item?.SocialForm?.TextForView == null ? "" : item?.SocialForm?.TextForView) </p>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <span>Предлагаем Вам обратиться с заявлением о предоставлении социальных услуг в организацию, уполномоченную на признание граждан, нуждающимися в социальных услугах</span>
                @if (Model.Conditions.Count == 1 && Model.Conditions.First().SocialForm.IDSocialForm == 4)
                {
                    <span></span>
                }
                else
                {
                    <span>
                        и оформление ИППСУ(индивидуальная программа предоставления социальных услуг)
                    </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Организация уполномоченная на признание граждан нуждающимися в социальном обслуживание @(Model?.Centr?.NameOrganisation == null ? "" : Model?.Centr?.NameOrganisation), адрес: @(Model?.Centr?.PropertysOrganisation == null ? "" : Model?.Centr?.PropertysOrganisation) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 line-bootom">
                @if (Model.Conditions.FindAll(o => o.OrganizationsPrz.Count > 0).Count > 0)
                {
                    <h3 class="prz">По району проживания, Вы можете обратиться в ближайшее отделение:</h3>
                }
                @foreach (var item in Model.Conditions)
                {
                    if (item.SocialForm.IDSocialForm == 5) { continue; }
                    if (item.OrganizationsPrz.Count > 0)
                    {
                        foreach (var xitem in item.OrganizationsPrz)
                        {
                            if (!writed.Select(s => s.IDOrganisation).Contains(xitem.IDOrganisation))
                            {
                                writed.Add(xitem);
                                <p>  - @xitem.NameOrganisation, адрес: @xitem.PropertysOrganisation; </p>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 line-bootom">
                @foreach (var item in Model.Conditions)
                {
                    if (item.SocialForm.IDSocialForm == 5) { continue; }
                    if (item.SupportOrganizations.Count == 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <p>Для получения информации о поставщиках социальных услуг в Вашем районе, Вы можете обратится: @(Model?.Centr?.NameOrganisation == null ? "" : Model?.Centr?.NameOrganisation), адрес: @(Model?.Centr?.PropertysOrganisation == null ? "" : Model?.Centr?.PropertysOrganisation) </p>
                            </div>
                        </div>
                    }
                    if (item.SupportOrganizations.Count > 0)
                    {
                        string countSupport = "";
                        if (item.SupportOrganizations.Count > 1)
                        {
                            countSupport = "поставщикам";
                        }
                        else
                        {
                            countSupport = "поставщику";
                        }
                        <div class="line-bootom">
                            <h3 class="prz">Для @(item.SocialForm.IDSocialForm != 5 ? item.SocialForm.TextForView.Replace("Предоставление", "получения") + ". Вы можете обратиться к " + countSupport + " социальных услуг:" : item.SocialForm.TextForView + "в организациях:")</h3>
                            @foreach (var key in item.SupportOrganizations.Keys)
                            {
                                if (key == "")
                                {
                                    foreach (var xitem in item.SupportOrganizations[key])
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h6 class="heading">@xitem.NameOrganisation, адрес @xitem.PropertysOrganisation</h6>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    var collapseClass = "collapse" + key + "soc" + item.SocialForm.IDSocialForm;
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#@collapseClass">
                                            <h6 class="heading">@(key + ((item.SupportOrganizations[key].Count > 1) ? "подробности + " : "")) </h6>
                                        </div>
                                        <div class="panel-body collapse" id="@collapseClass">
                                            @foreach (var xitem in item.SupportOrganizations[key])
                                            {
                                                if (key.Contains(xitem.NameOrganisation)) { continue; }
                                                if (xitem.IDOrganisation == 1111111) { continue; }
                                                <p>  - @xitem.NameOrganisation, адрес: @xitem.PropertysOrganisation </p>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
    <div class="row result-page-buttons">
        <div class="col-md-6 left-result-page-button">
            @Html.ActionLink("Повторить", "Default", "Home", new object { }, new { @class = "btn btn-default result-page" })
        </div>
        <div class="col-md-6 right-result-page-button result-page">
            <a href="http://mintrudrb.ru/" class="btn btn-default">Сайт Министерства</a>
        </div>
    </div>
</div>
