@model InteractiveConsultant.Models.Question
@{int iter = 0;
    string namerad = "";
}
<div class="container questions">
    <div class="row qestion_set">
        <div class="col-md-12 col-sm-12">
            <p class="question">1. @Model.TextQuestion</p>
        </div>
    </div>
    @using (Html.BeginForm("PreNextQuestion", "Interview", FormMethod.Post))
    {
        foreach (var a in Model.Answers)
        {
            <div class="row content_body">
                @{namerad = "radio" + iter.ToString();}
                <div class="col-md-3 col-sm-3 question-img">
                    @if (a.ImagePath != null)
                    {
                        <label for="@namerad"><img class="img-circle" src=@a.ImagePath /></label>
                    }
                </div>
                <div class="col-md-8 col-sm-8 question-answer">
                    @if (a.TextAnswer != null)
                    {
                        <label for="@namerad"><span class="get_answer">@a.TextAnswer</span></label>
                    }
                </div>
                <div class="col-md-1 col-sm-1 cheker">
                    @if ((ViewData["AnswerID"] != null) && ((byte)ViewData["AnswerID"] == (byte)a.IDAnswer))
                    {
                        <label class="checked" for="@namerad">
                            <input id="@namerad" class="qestion_set" type="radio" name="responses" value="@a.IDAnswer.ToString()" checked hidden />
                        </label>
                    }
                    else
                    {
                        <label class="unchecked" for="@namerad">
                            <input id="@namerad" class="qestion_set" type="radio" name="responses" value="@a.IDAnswer.ToString()" hidden />
                        </label>
                    }
                </div>               
            </div>
                        iter++;
                    }
                    <div class="row get_answer">
                        <div class="col-md-12 col-sm-12">
                            <button name="action" class="btn btn-default" value="next">Следующий вопрос</button>
                        </div>
                    </div>
                        <div class="row navigation">
                            <div class="col-md-12 col-sm-12">
                                @{  int i = 0;
                                    string val = "", cl = "";
                                    foreach (var b in ((List<bool>)ViewData["Cheker"]))
                                    {
                                        val = "page_" + i.ToString();
                                        i++;
                                        if (b == true)
                                        {
                                            cl = "green";
                                        }
                                        else
                                        {
                                            cl = "";
                                        }
                                        <button name="action" class="btn btn-default @cl" value=@val>@i</button>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row voicer">
                            <div class="col-md-4 col-sm-4">
                                <span class="voicerON"><img src="~/Content/Image/voicer.png" />@Html.CheckBox("_voicerON")  Вкл/Выкл голос</span>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button name="action" class="btn btn-default" value="end">Завершить</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button name="action" class="btn btn-default" value="endIncome">Внести доходы</button>
                            </div>
                        </div>
                                    }    
</div>